.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #625757;
}

.Sidebar .flex_container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.Sidebar .flex_container .btn {
    display: flex;
    flex: 1;
    padding: 5px 10px;
    font-size: 24px;
}

.Sidebar .flex_container .btn:not(:last-child) {
    margin-right: 10px;
}


.Sidebar .btn{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 70%;
    padding: 5px 10px;
    background-color: #9d8f8f;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    box-shadow: 0 2px 3px rgba(0,0,0,.35);
    cursor: pointer;
    box-sizing: border-box;
    transition: all .2s ease;
}

.Sidebar .btn:hover {
    transform: translateY(-2px);
}

.Sidebar .btn.active {
    transform: translateY(-2px) scale(1.1);
    background-color: #bcbab8;
}