
.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 20%;
    min-width: 180px;
    height: 100%;
    background-color: #625757;
    padding: 30px 0;
    box-sizing: border-box;
}

.Sidebar .Logo {
    display: block;
    width: 70%;
}

.Sidebar .Logo img{
    max-width: 100%;
}

.Sidebar .Controls {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Sidebar .Social {
    display: flex;
    justify-content: center;
    width: 70%;
    font-size: 2rem;
    color: #9d8f8f;
}

.Sidebar .Social a{
    transition: all .3s ease;
}

.Sidebar .Social a:hover {
    transform: scale(1.2) rotate(5deg);
    color: #bcbab8;
}

.Sidebar .Social a:not(:last-child){
    margin-right: 20px;
}

.Sidebar .flex_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Sidebar .flex_container .btn {
    display: flex;
    flex: 1;
    padding: 5px 10px;
    font-size: 24px;
}

.Sidebar .flex_container .btn:not(:last-child) {
    margin-right: 10px;
}


.Sidebar .Label {
    font-family: 'Raleway', sans-serif;
    color: #bcbab8
}


.Sidebar .btn{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
    padding: 5px 10px;
    background-color: #9d8f8f;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    box-shadow: 0 2px 3px rgba(0,0,0,.35);
    cursor: pointer;
    box-sizing: border-box;
    transition: all .2s ease;
}

.Sidebar .btn:hover {
    transform: translateY(-2px);
}

.Sidebar .btn.active {
    transform: translateY(-2px) scale(1.1);
    background-color: #bcbab8;
}

@media (max-width: 980px) {
    .Sidebar .Logo {
        width: 60%;
    }

    .Sidebar .Label {
        font-size: 14px;
    }

    .Sidebar .Controls {
        width: 60%;
    }

    .Sidebar .Social {
        width: 60%;
        font-size: 1.8rem;
    }
}

@media (max-width: 640px) {
    .Sidebar {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;   
        height: auto;
        padding: 15px 30px;
    }


    .Sidebar .Label {
        display: none;
    }

    .Sidebar .Logo {
        width: 30%;
    }

    .Sidebar .Controls {
        flex-direction: row;
        flex-wrap: wrap;
        order: 2;
        width: auto;
        flex: 1 0 100%;
        align-content: center;
        margin-top: 10px;
    }

    .Sidebar .btn{
        width: auto;
        flex: 1;  
    }

    .Sidebar .btn:not(:last-child) {
        margin-right: 20px;
    }

    .Sidebar .flex_container {
        flex: 1;
        margin-right: 20px;
    }

    .Sidebar .Social {
        width: 30%;
        font-size: 1.8rem;
        justify-content: flex-end;
    }
}

@media (max-width: 435px) {
    .Sidebar .btn:not(:last-child) {
        margin-right: 0px;
    }

    .Sidebar .flex_container {
        flex: 0 0 50%;
        margin-right: 20px;
    }
}