.Canvas {
    box-sizing: content-box;
    border-radius: 2px;
    width: 456px;
    height: 456px;
    display: flex;
    justify-items: flex-start;
    flex-wrap: wrap;
    background-color: #f9f9f9;
}